{% extends 'base.html' %}
{% block head_title %} Dashboard{% endblock %}
{% block title_page %} DashBoard{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Routers</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ router }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-project-diagram fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Switchs</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ switch }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-network-wired fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>End Device</span></div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>{{ endev }}</span></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-laptop fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Wifi</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ wifi }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-wifi fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mb-4">
{#        <div class="card shadow mb-4">#}
{#            <div class="card-header py-3">#}
{#                <h6 class="text-primary font-weight-bold m-0">Projects</h6>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <h4 class="small font-weight-bold">Server migration<span class="float-right">20%</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>#}
{#                </div>#}
{#                <h4 class="small font-weight-bold">Sales tracking<span class="float-right">40%</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span></div>#}
{#                </div>#}
{#                <h4 class="small font-weight-bold">Customer Database<span class="float-right">60%</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>#}
{#                </div>#}
{#                <h4 class="small font-weight-bold">Payout Details<span class="float-right">80%</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>#}
{#                </div>#}
{#                <h4 class="small font-weight-bold">Account setup<span class="float-right">Complete!</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-warning font-weight-bold m-0">Solicitudes de red</h6>
            </div>
            <ul class="list-group list-group-flush">
                {% for solicitud in solicitudes %}
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Solicitud: {{ solicitud.pk }}, {{ solicitud.solicitud_verbose }}</strong></h6>
                            <span class="text-xs">{{ solicitud.usuario }}, {{ solicitud.ubicacion }} , {{ solicitud.creacion }}   <a class='text-warning'href='/solicitud-usuario/{{ solicitud.pk }}'> ver</a></span>

                        </div>

                        <div class="col-auto">
{#                            <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-1" /><label class="custom-control-label" for="formCheck-1"></label></div>#}
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-lg-6 mb-4">


            </div>


        </div>
    </div>
</div>
{% endblock %}