{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %} Ubicacion{% endblock %}
{% block title_page %} Crear Ubicacion/Departamento{% endblock %}


{% block content %}

<div class="row">
<div class="col-lg-6 mb-4">

<form method='POST' action='{% url 'crear ip' %}' enctype='multipart/form-data'>
    {% csrf_token %}

    <div class="form-group">{% render_field form.localidad class="form-control"  %}</div>
    <div class="form-group">{% render_field form.departamento class="form-control"  %}</div>
    <div class="form-group">
        <input class="btn btn-warning btn-block" type="submit" value="Añadir Departamento"></input>
    </div>
</form>
</div>
</div>







{% endblock %}