{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %} Ubicaciones {% endblock %}
{% block title_page %} Ubicaciones {% endblock %}


{% block content %}
    <div class="card shadow">
    <div class="card-header py-3">
        <h5 class="text-warning m-0 font-weight-bold">Ubicaciones</h5>
                <a href="{% url 'Crear Ubicacion' %}" class="btn btn-warning btn-lg active btn-sm" role="button" aria-pressed="true">Añadir Localizacion</a>

    </div>

    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ubicacion</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>

                {% for objeto in objetos %}
                    <tr>
                        <td><a href="{% url 'Editar Ubicacion' objeto.id %}">{{ objeto.id }} </a></td>
                        <td>{{ objeto.localidad }}</td>
                        <td>{{ objeto.departamento }}</td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

    </div>
</div>

{% endblock %}