{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}
{% block head_title %} Calculadora{% endblock %}
{% block title_page %} Calculadora Segmentacion{% endblock %}

{% block content %}
{# Load CSS and JavaScript #}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}




{# Display a form #}
<form action="" method="POST" class="form">
  {% csrf_token %}
{% bootstrap_form_errors form %}

<div class="row">
    <div class="col-md-9">
      {% bootstrap_field form.rango layout='horizontal' %}

    </div>
    <div class="col">
    </div>
  </div>

<div class="row">
    <div class="col-md-9">
      {% bootstrap_field form.mascara layout='horizontal' %}

    </div>
    <div class="col">
    </div>
  </div>


{% buttons %}
    <button type="submit" class="btn btn-warning" style="text-align: center;">
      <span style="color: #ffffff;">Segmentar</span>
    </button>
  {% endbuttons %}
</form>




<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-warning m-0 font-weight-bold">Detalles Subred</p>
    </div>
    <div class="card-body" style="text-align: center;">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Address</th>
                        <th>Broadcast Address</th>
                        <th>Cantidad de direcciones por red</th>
                    </tr>
                </thead>
                <tbody>

                {% for objeto in objetos.listadirecciones %}
                    <tr>
                        <td>{{forloop.counter}} </td>
                        <td>{{ objeto.ip }}</td>
                        <td>{{ objeto.broadcast }}</td>
                        <td>{{ objeto.size }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

    <br>
    <br>
    <br>

{% endblock %}