{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %} Segmentacion{% endblock %}
{% block title_page %} Segmentacion{% endblock %}


{% block content %}

<div class="row">
<div class="col-lg-6 mb-4">

<form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
    <div class="form-group">{% render_field form.rango class="form-control" placeholder="Rango IP 192.168.0.1/24" type="text" %}</div>
    <div class="form-group">{% render_field form.mascara class="form-control" placeholder="Mascara IP 255.255.255.0" %}</div>
    <div class="form-group">{% render_field form.direccion class="form-control" placeholder="Cantidad de Direcciones" %}</div>
    <div class="form-group">{% render_field form.subredes class="form-control" placeholder="Sub Redes deseadas" %}</div>
    <div class="form-group">{% render_field form.reserv class="form-control" placeholder="Cantidad de IP Reservadas" %}</div>
    <div class="form-group"><input class="btn btn-warning btn-block" type="submit" value="Segmentacion"></input></div>
</form>
</div>
</div>




<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-warning m-0 font-weight-bold">Detalles Subred</p>
    </div>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Address</th>
                        <th>Broadcast Address</th>
                        <th>Cantidad de direcciones por red</th>
                    </tr>
                </thead>
                <tbody>

                {% for objeto in objetos.listadirecciones %}
                    <tr>
                        <td>1 </td>
                        <td>{{ objeto.ip }}</td>
                        <td>{{ objeto.broadcast }}</td>
                        <td>{{ objeto.size }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>


{% endblock %}