{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %} Solicitud {% endblock %}
{% block title_page %} Solicitud de usuario{% endblock %}


{% block content %}

<div class="row">
<div class="col-lg-6 mb-4">

<form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
    <div class="form-group">{% render_field form.usuario class="form-control" placeholder="Nombre usuario" type="text" %}</div>
    <div class="form-group">{% render_field form.solicitud class="form-control" placeholder="Tipo de Solicitud" %}</div>
    <div class="form-group">{% render_field form.descripcion class="form-control" placeholder="Descripcion" %}</div>
    <div class="form-group">{% render_field form.ubicacion class="form-control" placeholder="Ubicacion" %}</div>
    <div class="form-group"><input class="btn btn-warning btn-block" type="submit" value="Crear Solicitud"></input></div>
</form>
</div>
</div>






{% endblock %}