{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %} Reservar Direccion{% endblock %}
{% block title_page %} Reservar Direccion{% endblock %}


{% block content %}

<div class="row">
<div class="col-lg-6 mb-4">

<form method='POST' action='{% url 'crear ip' %}' enctype='multipart/form-data'>
    {% csrf_token %}

    <div class="form-group">{% render_field form.ipv4 class="form-control" placeholder='Direccion IPv4 192.168.0.1'  %}</div>
    <div class="form-group">{% render_field form.ipv6 class="form-control" placeholder='Direccion IPv6 2006:db8::0001'  %}</div>
    <div class="form-group">{% render_field form.mac class="form-control" placeholder='Direccion MAC ff:ff:ff:ff:ff'  %}</div>
    <div class="form-group">{% render_field form.descripcion class="form-control" placeholder='Descripcion de la reserva' %}</div>
    <div class="form-group">{% render_field form.dispositivo class="form-control"  %}</div>



    <div class="form-group">
        <input class="btn btn-warning btn-block" type="submit" value="Añadir dispositivo"></input>
    </div>
</form>
</div>
</div>
 {{ form.errors }}






{% endblock %}