{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %} Dispositivo{% endblock %}
{% block title_page %} Crear Dispositivo{% endblock %}


{% block content %}

<div class="row">
<div class="col-lg-6 mb-4">

<form method='POST' action='{% url 'crear ip' %}' enctype='multipart/form-data'>
    {% csrf_token %}

    <div class="form-group">{% render_field form.ipv4 class="form-control" placeholder='IPv4: 192.168.0.1' %}</div>
    <div class="form-group">{% render_field form.ipv6 class="form-control" placeholder='IPv6: 2001:db8:: '  %}</div>
    <div class="form-group">{% render_field form.mac class="form-control" placeholder='MAC: 00-15-5D-F3-1E-E4' %}</div>
    <div class="form-group">{% render_field form.descripcion placeholder='Motivo de reserva' class="form-control"  %}</div>
    <div class="form-group">{% render_field form.dispositivo placeholder='Dispositivo' class="form-control"  %}</div>



    <div class="form-group">
        <input class="btn btn-warning btn-block" type="submit" value="Añadir dispositivo"></input>
    </div>
</form>
</div>
</div>
 {{ form.errors }}






{% endblock %}