{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}
{% block head_title %} Reservar Direccion IP{% endblock %}
{% block title_page %} Reservar Direccion IP{% endblock %}

{% block content %}
{# Load CSS and JavaScript #}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}




{# Display a form #}
<form action="" method="post" class="form">
  {% csrf_token %}
{% bootstrap_form_errors form %}
<div class="row">
    <div class="col-md-9">
{% bootstrap_form form layout='horizontal' %}
    </div>
</div>
{% buttons %}
    <button type="submit" class="btn btn-warning" style="text-align: center;">
      <span style="color: #ffffff;">Reservar IP</span>
    </button>
  {% endbuttons %}
</form>


{% endblock %}