{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head_title %} Direcciones IP  {% endblock %}
{% block title_page %} Direcciones IP Reservada {% endblock %}


{% block content %}
    <div class="card shadow">
    <div class="card-header py-3">
        <h5 class="text-warning m-0 font-weight-bold">Direcciones IP Reservada</h5>
                <a href="{% url 'crear ip' %}" class="btn btn-warning btn-lg active btn-sm" role="button" aria-pressed="true">Crear Dispositivo</a>

    </div>

    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Dispositivo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Ubicacion</th>
                        <th>Puertos</th>
                    </tr>
                </thead>
                <tbody>

                {% for objeto in objetos %}
                    <tr>
                        <td><a href="{% url 'editar ip' objeto.id %}">{{ objeto.id }} </a></td>
                        <td>{{ objeto.ipv4 }}</td>
                        <td>{{ objeto.ipv6 }}</td>
                        <td>{{ objeto.mac }}</td>
                        <td>{{ objeto.descripcion }}</td>
                        <td>{{ objeto.dispositivo }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

    </div>
</div>

{% endblock %}