{% extends 'base.html' %}
{% block head_title %} Guia IPv6{% endblock %}
{% block title_page %} Guia IPv6{% endblock %}


{% block content %}

    <div class="row ">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow"> <i class="fas fa-calculator fa-6x text-gray-800" style="margin: 20px;"></i>
                    <div class="mb-3"><a class="btn btn-warning btn-sm" href="segmentacion/">Calculadora IPv6</a></div>
                </div>
            </div>

        </div>


        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow"><i class="fas fa-list-ol fa-6x text-gray-800" style="margin: 20px;"></i>
                    <div class="mb-3"><a class="btn btn-warning btn-sm" href="pasos/">Guia para Migracion</a></div>
                </div>
            </div>

        </div>

  </div>
{% endblock %}