{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}
{% block head_title %} Calculadora{% endblock %}
{% block title_page %} Calculadora Segmentacion IPv4{% endblock %}


{% block content %}
    <div>
        <p>La segmentacion en IPv6 se establece solo para obtener un orden acorde a las localidades, por lo cual si se tiene 5 segmentos de red en ipv4 se tranformaran en ipv6 siguiendo una nomenclatura acorde al segmento ip que se tiene.</p><br>
        <p>Un ejemplo seria un segmento de red 2001:db8::/32 si se quiere tener 4 localidades simplemente se configuraran los segmentos 2001:db8:1::, 2001:db8:2::,2001:db8:3::, 2001:db8:4:: teniendo asi una segmentacion suficiente mente capaz.</p>
        <hr>
    </div>
<div class="row">
<div class="col-lg-6 mb-4">
{% bootstrap_messages %}
<form action="" method="post" class="form">
  {% csrf_token %}
{% bootstrap_form_errors form %}

<div class="row">
    <div class="col-md-9">
      {% bootstrap_field form.rango layout='horizontal' %}

    </div>
    <div class="col">
    </div>
  </div>

<div class="row">
    <div class="col-md-9">
      {% bootstrap_field form.mascara layout='horizontal' %}

    </div>
    <div class="col">
    </div>
  </div>


{% buttons %}
    <button type="submit" class="btn btn-warning" style="text-align: center;">
      <span style="color: #ffffff;">Segmentar</span>
    </button>
  {% endbuttons %}
</form>
</div>
</div>




<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-warning m-0 font-weight-bold">Detalles Subred</p>
    </div>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Address</th>
                        <th>Broadcast Address</th>
                        <th>Cantidad de direcciones por red</th>
                    </tr>
                </thead>
                <tbody>

                {% for objeto in objetos.listadirecciones %}
                    <tr>
                        <td>{{forloop.counter0}} </td>
                        <td>{{ objeto.ip }}</td>
                        <td>{{ objeto.broadcast }}</td>
                        <td>{{ objeto.size }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>


{% endblock %}