 <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
{#                                        <a class="d-flex align-items-center dropdown-item" href="#">#}
{#                                            <div class="mr-3">#}
{#                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>#}
{#                                            </div>#}
{#                                            <div><span class="small text-gray-500">December 12, 2019</span>#}
{#                                                <p>A new monthly report is ready to download!</p>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                        <a class="d-flex align-items-center dropdown-item" href="#">#}
{#                                            <div class="mr-3">#}
{#                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>#}
{#                                            </div>#}
{#                                            <div><span class="small text-gray-500">December 7, 2019</span>#}
{#                                                <p>$290.29 has been deposited into your account!</p>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                        <a class="d-flex align-items-center dropdown-item" href="#">#}
{#                                            <div class="mr-3">#}
{#                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>#}
{#                                            </div>#}
{#                                            <div><span class="small text-gray-500">December 2, 2019</span>#}
{#                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                        <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>#}