<nav class="navbar navbar-dark bg-dark align-items-start sidebar sidebar-dark accordion bg-darkp-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink" style="color: #ffc107;"></i></div>
            <div class="sidebar-brand-text mx-3"><span style="color: #ffc107;">Telecomsys</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'system' %}"><i class="fas fa-tachometer-alt" style="color: #ffc107;"></i><span>Dashboard</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'ipv4-to-ipv6' %}"><i class="fas fa-user"></i><span>IPv4 a IPv6</span></a></li>
           <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'ipv4-to-ipv6' %}"><i class="fas fa-user"></i><span>Segmentacion</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-table"></i><span>Configuracion de dispositivos</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Equipos de red</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Direcciones IP reservadas</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Inventario</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Topologias de red</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Solicitudes de usuarios</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Ubicaciones</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Logs de equipos</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>IPset</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-user-circle"></i><span>Registro</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>